	<div class="col-md-10 col-md-offset-1">
		<h1>
            <strong>
              <p>Expedientes</p>
            </strong>
          </h1>
          <div class="col-md-6"> <!-- PARTE VILLANOS LISTA -->
          	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Villanos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              	<tr ng-repeat="villano in villanos.villanos">
              		<td>{{villano.name}}</td>
              		<td>
              		  <a ui-sref="archiveFilesEditing({id: villano.id})" class="btn btn-default" onclick="showId('#div_details_villano');" data-ng-click="villanos.verDetalleVillano(villano.id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ui-sref="archiveFiles" class="btn btn-default" data-ng-click="villanos.deleteVillainById(villano);">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </td>
              	</tr>
              </tbody>
             </table>
             <button type="submit" class="btn btn-primary" data-ng-click="villanos.newVillano()" onclick="showId('#div_details_villano');">
              Nuevo
            </button>
          </div>
          
           <div class="col-md-5"><!-- PARTE EDITAR VILLANOS -->
                <form>
              <div class="panel panel-default" id="div_details_villano" style="display:none">
                <div class="panel-body">
                <form>
                  <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" data-ng-model="villanos.villanoSeleccionado.name">
                      </div>
                      <div class="form">
                        <label for="inputGender">Sexo</label><br />
                        <input type="radio" id="inputGender" value="masculino" data-ng-model="villanos.nuevoVillano.gender" value="male"> Masculino
                        <input type="radio" id="inputGender" value="femenino" data-ng-model="villanos.nuevoVillano.gender" value="female"> Femenino
                      </div>
                      <br />
                      <div class="form">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Señas</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr data-ng-repeat="sign in villanos.villanoSeleccionado.signs" class="animate-repeat">
                                <td>
                                   {{sign}}
                                </td>
                                <td>
                                    <a ui-sref="archiveFilesEditing({id: villanos.villanoSeleccionado.id})" class="btn btn-default" data-ng-click="villanos.removeSign(sign);">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                  </button>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="sehna" ng-model="villanos.new_sign">
                          <div class="input-group-btn">
                            <a class="btn btn-primary" data-ng-click="villanos.addSign();">
                              <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            </button>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="form">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Hobbies</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr data-ng-repeat="hobbie in villanos.villanoSeleccionado.hobbies" class="animate-repeat">
                                <td>
                                   {{hobbie}}
                                </td>
                                <td>
                                  <a ui-sref="archiveFilesEditing({id: villanos.villanoSeleccionado.id})" class="btn btn-default" data-ng-click="villanos.removeHobbie(hobbie);">
                                    <span class="glyphicon glyphicon-remove"></span>
                                  </a>
                                  </button>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="hobbie" ng-model="villanos.new_hobbie">
                          <div class="input-group-btn">
                            <a class="btn btn-primary" data-ng-click="villanos.addHobbie();">
                              <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a ui-sref="archiveFiles" class="btn btn-primary" onclick="hideId('#div_details_villano');" data-ng-click="villanos.aceptar()">
                      Aceptar
                    </a>
                 </div>
              </form>
           </div>
	</div>
