<!DOCTYPE html>
<html lang="en" ng-app="carmenSandiegoApp">
<head>
	<title>Expedientes</title>

      <!-- FONTS -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio" type="text/css" >

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

      <!-- My CSS -->
      <link rel="stylesheet" href="css/my-styles.css">

       <!-- ANGULAR -->
      <script src="node_modules/angular/angular.min.js"></script>
<!--       <script src="node_modules/angular-route/angular-route.min.js"></script>-->      
      <script src="node_modules/angular-resource/angular-resource.min.js"></script>
</head>

<body ng-controller="VillanosCtrl as villanos">
<div class="row">
	<div class="col-md-3">
		<img src="../img/files.jpg" style="width: 100%; height: 100%;" />
	</div>
	<div class="col-md-9">
		<h1>
            <strong>
              <p>Expedientes</p>
            </strong>
          </h1>
          <div class="col-md-4"> <!-- PARTE VILLANOS LISTA -->
          	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Villanos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              	<tr ng-repeat="villano in villanos.villanos">
              		<td>{{villano.name}}</td>
              		<td>
                    <button type="submit" class="btn btn-default" ng-click="">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="submit" class="btn btn-default" ng-click="">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </td>
              	</tr>
              </tbody>
             </table>
             <button type="submit" class="btn btn-primary" ng-click="">
              Nuevo
            </button>
          </div>
           <div class="col-md-5"><!-- PARTE EDITAR VILLANOS -->
           			<form>
           		<div class="panel panel-default">
           			<div class="panel-body">
           				<div class="form-group">
                    		<label for="inputNombre">Nombre</label>
                    		<input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                    	</div>
                    	<div class="form">
                    		<label for="inputNombre">Sexo</label><br />
                    		<input type="radio" name="gender" value="masculino"> Masculino
  							<input type="radio" name="gender" value="femenino"> Femenino
                    	</div>
                    	<br />
                    	<div class="form">
                    		<table class="table table-bordered">
                    			<thead>
		                        <tr>
		                          <th>Senhas</th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                      		<tr>
			                          <td>
			                            <!-- mostrar lo que vamos agregando -->
			                          </td>
			                        </tr>
		                      </tbody>
                    		</table>
                    		<div class="input-group">
		                      <input type="text" class="form-control" placeholder="sehna">
		                      <div class="input-group-btn">
		                        <button type="submit" class="btn btn-primary">
		                          <span class="glyphicon glyphicon-plus"></span>
		                        </button>
		                      </div>
		                    </div>
                    	</div>
                    	<br />
                    	<div class="form">
                    		<table class="table table-bordered">
                    			<thead>
		                        <tr>
		                          <th>Hobbies</th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                      		<tr>
			                          <td>
			                            <!-- mostrar lo que vamos agregando -->
			                          </td>
			                        </tr>
		                      </tbody>
                    		</table>
                    		<div class="input-group">
		                      <input type="text" class="form-control" placeholder="hobbie">
		                      <div class="input-group-btn">
		                        <button type="submit" class="btn btn-primary">
		                          <span class="glyphicon glyphicon-plus"></span>
		                        </button>
		                      </div>
		                    </div>
                    	</div>
           			</div>
           		</div>
           			 <button type="submit" class="btn btn-primary" ng-click="">
		              Aceptar
		            </button>
           			</form>
           </div>
	</div>
</div>

<!-- JS -->
  <script src="js/services.js"></script>
  <script src="js/villanosApp.js"></script>
  
<!-- CON TABLAS 
	<table>
	<tr valign="bottom">
		<td><img src="../img/sandiego.jpg" style="width:200px;height:200px;"></td>
		<td><h1><b>Expedientes</b></h1></td>
	</table>
	<table cellpadding="15">
		<tr> 
		<td>
			<table border="2" cellpadding="3" bordercolor="black">
				<tr bgcolor="silver">
					<th>Villanos</th>
					<th></th>
				</tr>
				<tr>
					<td>Carmen Sandiego</td>
					<td align="center"><img src="../img/edit-icon.png" style="width:25px;height:25px;"> <img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
				</tr >
				<tr>
					<td>Igor Igorovich</td>
					<td align="center"><img src="../img/edit-icon.png" style="width:25px;height:25px;"> <img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
				</tr>
				<tr>
					<td>Al Capone</td>
					<td align="center"><img src="../img/edit-icon.png" style="width:25px;height:25px;"> <img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
				</tr>
				<tr>
					<td>Betty Chiars</td>
					<td align="center"><img src="../img/edit-icon.png" style="width:25px;height:25px;"> <img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
				</tr>
				<tr>
					<td>Vic La Mancha</td>
					<td align="center"><img src="../img/edit-icon.png" style="width:25px;height:25px;"> <img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
				</tr>
			</table>
		</td>
		<td>
			<table style="width:400px">
				<tr><td>Nombre:</td></tr>
				<tr><td><input name="name" type="text" style="width:75%" disabled></td></tr>
				<tr><td>Sexo:</td></tr>
				<tr><td>
					<form>
					<input type="checkbox" disabled>Masculino
					<input type="checkbox" disabled>Femenino
					</form>
				</td></tr>
				<tr><td>
					<table style="width:390px" class="fixed" border="1" cellpadding="5" bordercolor="black">
						<col width="85%">
						<col width="15%">
						<tr bgcolor="silver">
							<th>Señas</th>
							<th></th>
						</tr>
						<tr>
							<td>test</td>
							<td align="center"><img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
						</tr>
					</table>
				</td></tr>
				<tr><td> 
					<table style="width:90%" class="fixed">
					<col width="85%">
					<col width="15%">
					<tr align="center">
						<td><input style="width:100%" disabled></td>
						<td><img src="../img/add-icon.ico" style="width:25px;height:25px;"></td>
					</tr>
					</table>
				</td></tr>
				<tr><td>
					<table style="width:390px" class="fixed" border="1" cellpadding="5" bordercolor="black">
						<col width="85%">
						<col width="15%">
						<tr bgcolor="silver">
							<th>Hobbies</th>
							<th></th>
						</tr>
						<tr>
							<td>test</td>
							<td align="center"><img src="../img/delete-icon.png" style="width:25px;height:25px;"></td>
						</tr>
					</table>
				</td></tr>
				<tr><td> 
					<table style="width:90%" class="fixed">
					<col width="85%">
					<col width="15%">
					<tr align="center">
						<td><input style="width:100%" disabled></td>
						<td><img src="../img/add-icon.ico" style="width:25px;height:25px;"></td>
					</tr>
					</table>
				</td></tr>
			</table>
		</td>
		</tr>
		<tr>
			<td align="center"> <button type="button" style="height:30px;width:100px">Nuevo</button></td>
			<td align="center"> <button type="button" style="height:30px;width:100px">Aceptar</button></td>
		</tr>
-->
</body>
</html>