	<div class="col-md-10 col-md-offset-1">
		<h1>
            <strong>
              <p>Expedientes</p>
            </strong>
          </h1>
          <div class="col-md-6"> <!-- PARTE VILLANOS LISTA -->
          	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Villanos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              	<tr ng-repeat="villano in villanos.villanos">
              		<td>{{villano.name}}</td>
              		<td>
              		<a ui-sref="archiveFilesEditing({id: villano.id})" class="btn btn-default" onclick="showId('#div_details_villano');" data-ng-click="villanos.verDetalleVillano(villano.id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" ng-click="">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </td>
              	</tr>
              </tbody>
             </table>
             <button type="submit" class="btn btn-primary" ng-click="">
              Nuevo
            </button>
          </div>
           <div class="col-md-5"><!-- PARTE EDITAR VILLANOS -->
           			<form>
           		<div class="panel panel-default" id="div_details_villano" style="display:none">
           			<div class="panel-body">
           				<div class="form-group">
                    		<label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="villanos.villanoSeleccioando.name">
                    	</div>
                    	<div class="form">
                    		<label for="inputNombre">Sexo</label><br />
                    		<input type="radio" name="gender" value="masculino" ng-model="villanos.villanoSeleccioando.gender" value="male"> Masculino
  							<input type="radio" name="gender" value="femenino" ng-model="villanos.villanoSeleccioando.gender" value="female"> Femenino
                    	</div>
                    	<br />
                    	<div class="form">
                    		<table class="table table-bordered">
                    			<thead>
		                        <tr>
		                          <th>Senhas</th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                      		<tr data-ng-repeat="sign in villanos.villanoSeleccioando.signs" class="animate-repeat">
			                          <td>
			                             {{sign}}
			                          </td>
			                        </tr>
		                      </tbody>
                    		</table>
                    		<div class="input-group">
		                      <input type="text" class="form-control" placeholder="sehna">
		                      <div class="input-group-btn">
		                        <button type="submit" class="btn btn-primary">
		                          <span class="glyphicon glyphicon-plus"></span>
		                        </button>
		                      </div>
		                    </div>
                    	</div>
                    	<br />
                    	<div class="form">
                    		<table class="table table-bordered">
                    			<thead>
		                        <tr>
		                          <th>Hobbies</th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                      		<tr data-ng-repeat="hobbie in villanos.villanoSeleccioando.hobbies" class="animate-repeat">
                                <td>
                                   {{hobbie}}
                                </td>
                              </tr>
		                      </tbody>
                    		</table>
                    		<div class="input-group">
		                      <input type="text" class="form-control" placeholder="hobbie">
		                      <div class="input-group-btn">
		                        <button type="submit" class="btn btn-primary">
		                          <span class="glyphicon glyphicon-plus"></span>
		                        </button>
		                      </div>
		                    </div>
                    	</div>
           			</div>
                 <button type="submit" class="btn btn-primary" ng-click="" style="margin:15px">
                  Aceptar
                </button>
           		</div>
           			</form>
           </div>
	</div>
