<!DOCTYPE html>
<html>
<head>
	<title>Carmen San Diego</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
    <h3>Estas en: <b>Egipto</b>, Antes: <b>Argentina -> Brasil -> Ecuador</b></h3>
    <div class="row">

            <div class="col-md-4"><!-- SECCION VIAJES -->
            	<div class="panel panel-default">
            		<div class="panel-heading">
      				<h3>Viajar a: Cuba</h3>
      				<button type="button">Ir!</button>
            		</div>
            		<div class="panel-body">
            			<form>
                                    <div class="panel panel-info">
                                          <div class="panel-heading">
                                                Posibilidades
                                          </div>
                                          <div class="panel-body">
                                                 <input type="radio" name="destino"> Argentina<br>
                                          </div>
                                          <div class="panel-body">
                                                 <input type="radio" name="destino"> Peru<br>
                                          </div>
                                          <div class="panel-body">
                                                 <input type="radio" name="destino"> Noruega<br>
                                          </div>
                                          <div class="panel-body">
                                                 <input type="radio" name="destino"> Nueva Zelanda<br>
                                          </div>
                                    </div>
                              </form>
            		</div>
            		<div class="panel-body">
                        <div class="panel panel-info">
            			<div class="panel-heading">Destinos fallidos</div>
            			<div class="panel-body">Israel</div>
                              <div class="panel-body">Tailandia</div>
            		</div>
                        </div>
            	</div>
            </div>
            <div class="col-md-4"><!-- SECCION INVESTIGAR -->
            	<div class="panel panel-default">
                        <div class="panel-heading">
                              <h3>Investigar</h3>
                        </div>   
                        <div class="panel-body">
                              <div class="col-md-3">IMG</div>
                              <div class="col-md-9">Embajada</div>
                        </div>  
                        <div class="panel-body">
                              <div class="col-md-3">IMG</div>
                              <div class="col-md-9">Club</div>
                        </div>  
                        <div class="panel-body">
                              <div class="col-md-3">IMG</div>
                              <div class="col-md-9">Biblioteca</div>
                        </div>  
                  </div>
            </div>
            <div class="col-md-4"><!-- SECCION VISITANDO Y ORDEN DE ARRESTO -->
            	<div class="panel panel-info">
                        <div class="panel-heading">Visitando</div>  
                        <div class="panel-body">
                              <h3>Club</h3>
                              <p>Vi alguien sospechoso rascandose LA Pansa.</p>
                        </div>
                  </div>
                  <div class="panel panel-danger">
                        <div class="panel-heading">Pedir orden de arresto:</div>
                        <div class="panel-footer">
                              <form>
                                    <select>
                                      <option value="igor">Igor</option>
                                      <option value="carmen">Carmen San Diego</option>
                                    </select>
                                    <button type="button">Pedir orden!</button>
                              </form>
                        </div>
                  </div>
            </div>

    </div>
</body>
</html>
