<div> 
    <div class="col-md-offset-1" >
      <h3 ng-model= "juego.paisAnterior()">
        Estas en: <b>{{juego.data.pais.name}}</b>, Antes: <b>{{juego.paisAnterior}}</b>
      </h3>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" 
                  aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  <p class="text-center">Viajar a:</p>
                </h4>
              </div>
              <div class="modal-body" data-ng-repeat="pais in juego.data.pais.connectedCountries">
                <button type="button" class="btn btn-default btn-lg btn-block">
                  {{pais.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
                data-target="#miModal" style="margin:5px">
          Conexiones
        </button>
        <div class="panel panel-default" style="margin:5px">
          <div class="panel-heading">
            <h3 class="panel-title">Destinos Fallidos</h3>
          </div>
          <div class="panel-body" ng-model= juego.setPaisesFallidos()>
            <ul class="list-group" data-ng-repeat="pais in juego.data.paisesFallidos">
              <li class="list-group-item">{{pais}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default" style="margin:5px">
          <div class="panel-heading">
            <h3 class="panel-title">Investigar</h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>Lugares</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="lugar in juego.data.pais.places">
                  <td>
                    <img class="pequeña" src="../img/lupa-huella.jpg" alt="Responsive image" >
                  </td>
                  <td>
                    <button type="button" class="btn btn-default btn-lg btn-block"" onclick="">
                      {{lugar}}
                    </button> 
                  </td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default" style="margin:5px">
          <div class="panel-heading">
            <h3 class="panel-title">
            Orden de arrestro <b></b>
            </h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <select class="form-control">
                <option ng-repeat="villano in juego.villanos">{{villano.name}}</option>
              </select>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                  <span >Emitir</span>
                </button>
              </div>  
            </div>
            <div class="panel panel-default" style="margin:20px">
              <div class="panel-body">
                <h3 class="text-center"> Orden emitida contra Villano </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Orden de arresto -->
      <!-- Poner <a></a> -->
      <!-- <div ui-sref="game.orden" ui-view= "arresto"></div> -->
      

    </div>

</div>