<div>
  <!-- Mensajes -->
  <div class="row">
    <ul class="example-animate-container">
      <li class="message bg-success animate-repeat" data-ng-repeat="msg in juego.msgs">{{msg}}</li>
    </ul>
  </div>
    <div class="col-md-offset-1" >
      <h3>
        Estas en: <b>{{juego.data.pais.name}}</b>, Antes: <b>{{juego.paisAnterior.name}}</b>
      </h3>
    </div>
      <div class="col-md-4">
        <div class="panel panel-default" style="margin:5px">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Conexiones</b>
            </h3>
          </div>
          <div class="panel-body">
<!--            <div class="input-group" data-ng-model="juego.viaje.casoId = juego.data.id">-->
            <div class="input-group">
              <!-- <select class="form-control" ng-model="juego.data">
                <option data-ng-repeat="pais in juego.data.pais.connectedCountries" 
                        ng-value="pais.id">
                  {{pais.name}}
                </option>
              </select> -->
              <select class="form-control" ng-model="selectedCountry" ng-options="pais.name for pais in juego.data.pais.connectedCountries"/>
              <div class="input-group-btn">
                <button class="btn btn-primary" ng-click="juego.viajar(selectedCountry)">
                  <span >Viajar</span>
                </button>
                <button class="btn btn-primary" ng-click="juego.volver()">
                  <span >Volver</span>
                </button>
              </div>
            </div>
            <div class="panel panel-default" style="margin-top:20px">
              <div class="panel-heading">
                <h3 class="panel-title"><b>Destinos Fallidos</b></h3>
              </div>
              <div class="panel-body" ng-model= juego.data>
                <ul class="list-group" data-ng-repeat="pais in juego.paisesFallidos">
                  <li class="list-group-item">{{pais.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default" style="margin:5px">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Investigar</b></h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>Lugares</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="lugar in juego.data.pais.places">
                  <td>
                    <img class="pequeña" src="../img/lupa-huella.jpg" alt="Responsive image" >
                  </td>
                  <td>
                    <button type="button" class="btn btn-default btn-lg btn-block"" data-ng-click="juego.obtenerPista(lugar)">
                      {{lugar}}
                    </button> 
                  </td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default" style="margin:5px">
          <div class="panel-heading">
            <h3 class="panel-title">
              <b>Orden de arrestro</b>
            </h3>
          </div>
          <div class="panel-body">
            <form name="choripaste" role="form">
              <fieldset>
                <div class="input-group" data-ng-model="juego.orden.casoId">
                  <select class="form-control" ng-model="selectedVillain" ng-options="villano.name for villano in juego.villanos"/>

                  <!--<select class="form-control" data-ng-model="juego.orden.villanoId">
                    <option ng-repeat="villano in juego.villanos" ng-value="villano.id">
                      {{villano.name}}
                    </option>
                  </select> -->
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary" data-ng-click="juego.emitirOrden(selectedVillain)">
                      <span >Emitir</span>
                    </button>
                  </div>  
                </div>
                <div class="panel panel-default" style="margin:20px">
                  <div class="panel-body">
                    <h3 class="text-center"> 
                      {{juego.mensajeDeOrden()}}
                  </div>
                </div>
                <div class="example-animate-container" style="padding-top:10px">
                    <div class="alert alert-danger animate-repeat" ng-repeat="error in juego.errors">{{error}}</div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

      <!-- Content Orden de arresto -->
      <!-- Poner <a></a> -->
      <!-- <div ui-sref="game.orden" ui-view= "arresto"></div> -->
      

    </div>

</div>