
<div class="col-md-4">
  <div class="panel panel-default" style="margin:20px">
    <div class="panel-heading">
      <h3 class="panel-title">
      Orden de arrestro <b></b>
      </h3>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <select class="form-control" ng-repeat="villano in villanos.villanos">
          <option>{{villano.name}}</option>
        </select>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span >Emitir</span>
          </button>
        </div>  
      </div>
      <div class="panel panel-default" style="margin:20px">
        <div class="panel-body">
          <h3 class="text-center"> Orden emitida contra Villano </h3>
        </div>
      </div>
    </div>
  </div>
</div>