<!DOCTYPE html>
<html lang="en" ng-app="paisesApp">

  <head>

    <title>Mapamundi</title>

      <!-- FONTS -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio" type="text/css" >

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

      <!-- My CSS -->
      <link rel="stylesheet" href="../css/my-styles.css">

       <!-- ANGULAR -->
      <script src="../node_modules/angular/angular.min.js"></script>
<!--       <script src="../node_modules/angular-route/angular-route.min.js"></script>-->      
      <script src="../node_modules/angular-resource/angular-resource.min.js"></script>

  </head>

  <body data-ng-controller="PaisesCtrl as paises">

    <div class="row">
        <div class="col-md-3">
            <img src="../img/mundo-destinos.jpg" class="left-block" alt="Responsive image">
        </div>
        <div class="col-md-9">
          <h1>
            <strong>
              <p>Mapamundi</p>
            </strong>
          </h1>
          <div class="col-md-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Paises</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="pais in paises.paises" class="animate-repeat">
                  <td>{{pais.name}}</td>
                  <td>
                    <button type="submit" class="btn btn-default" ng-click="">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit" class="btn btn-default" ng-click="">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary" ng-click="">
              Nuevo
            </button>
          </div>
          <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <label for="inputNombre">Nombre</label>
                      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Caracteristicas</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- mostrar lo que vamos agregando -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="caracteristica">
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Conexiones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- mostrar lo que vamos agregando -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="input-group">
                      <select class="form-control">
                        <option>Argentina</option>
                        <option>Estados Unidos</option>
                        <option>Mexico</option>
                        <option>Francia</option>
                      </select>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Lugares de Interes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- mostrar lo que vamos agregando -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="input-group">
                      <select class="form-control">
                        <option>Banco</option>
                        <option>Biblioteca</option>
                        <option>Club</option>
                        <option>Embajada</option>
                      </select>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="">
              Aceptar
            </button>

          </div>
        </div>
    </div>

  <!-- JS -->
  <script src="../js/services.js"></script>
  <script src="../js/paisesApp.js"></script>
  </body>

</html>