
        <div class="col-md-10 col-md-offset-1">
          <h1>
            <strong>
              <p>Mapamundi</p>
            </strong>
          </h1>
          <div class="col-md-6">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Paises</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="pais in paises.paises" class="animate-repeat">
                  <td>{{pais.name}}</td>
                  <td>
                    <!--<button type="button" class="btn btn-default" onclick="showId('#div_details');" data-ng-click="paises.verDetalle(pais)">-->
                    <a ui-sref="worldMapEditing({id: pais.id})" class="btn btn-default" onclick="showId('#div_details');" data-ng-click="paises.verDetalle(pais)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" ng-click="">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary" ng-click="">
              Nuevo
            </button>
          </div>
          <div class="col-md-5">

            <div class="panel panel-default" id="div_details" style="display:none">
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <label for="inputNombre">Nombre</label>
                      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="paises.paisSeleccionado.name">
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Caracteristicas</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- mostrar lo que vamos agregando -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="caracteristica">
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Conexiones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- mostrar lo que vamos agregando -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="input-group">
                      <select class="form-control">
                        <option>Argentina</option>
                        <option>Estados Unidos</option>
                        <option>Mexico</option>
                        <option>Francia</option>
                      </select>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Lugares de Interes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- mostrar lo que vamos agregando -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="input-group">
                      <select class="form-control">
                        <option>Banco</option>
                        <option>Biblioteca</option>
                        <option>Club</option>
                        <option>Embajada</option>
                      </select>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="" onclick="hideId('#div_details');" style="margin:5px">
              Aceptar
            </button>
            </div>
            

          </div>
        </div>
